<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Create</title>
</head>
<body>
    <div layout:fragment="content">
        <h2 class="esh-body-title">Create</h2>

        <form th:action="@{/catalog/create}" th:object="${catalogItem}" method="post">
            <div class="form-horizontal">
                <div th:if="${#fields.hasErrors('*')}" class="text-danger">
                    <p>Please correct the errors below.</p>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Name</label>
                    <div class="col-md-3">
                        <input type="text" th:field="*{name}" class="form-control" />
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Description</label>
                    <div class="col-md-3">
                        <input type="text" th:field="*{description}" class="form-control" />
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Brand</label>
                    <div class="col-md-3">
                        <select th:field="*{catalogBrandId}" class="form-control">
                            <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.brand}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('catalogBrandId')}" th:errors="*{catalogBrandId}" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Type</label>
                    <div class="col-md-3">
                        <select th:field="*{catalogTypeId}" class="form-control">
                            <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.type}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('catalogTypeId')}" th:errors="*{catalogTypeId}" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Price</label>
                    <div class="col-md-3">
                        <input type="number" th:field="*{price}" class="form-control" step="0.01" />
                        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Picture</label>
                    <div class="col-md-4 esh-form-information">
                        Uploading images not allowed for this version.
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Available Stock</label>
                    <div class="col-md-3">
                        <input type="number" th:field="*{availableStock}" class="form-control" />
                        <span th:if="${#fields.hasErrors('availableStock')}" th:errors="*{availableStock}" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Restock Threshold</label>
                    <div class="col-md-3">
                        <input type="number" th:field="*{restockThreshold}" class="form-control" />
                        <span th:if="${#fields.hasErrors('restockThreshold')}" th:errors="*{restockThreshold}" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Max Stock Threshold</label>
                    <div class="col-md-3">
                        <input type="number" th:field="*{maxStockThreshold}" class="form-control" />
                        <span th:if="${#fields.hasErrors('maxStockThreshold')}" th:errors="*{maxStockThreshold}" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-3 text-right esh-button-actions">
                        <a th:href="@{/}" class="btn esh-button esh-button-secondary">[ Cancel ]</a>
                        <input type="submit" value="[ Create ]" class="btn esh-button esh-button-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
