<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Delete</title>
</head>
<body>
<div layout:fragment="content">
    <h2 class="esh-body-title">Delete</h2>

    <div class="container">
        <h3>Are you sure you want to delete this?</h3>
        <div class="row">
            <img class="col-md-6 esh-picture" th:src="@{/items/{id}/pic(id=${catalogItem.id})}" />
            <dl class="col-md-6 dl-horizontal">
                <dt>Name</dt>
                <dd th:text="${catalogItem.name}"></dd>

                <dt>Description</dt>
                <dd th:text="${catalogItem.description}"></dd>

                <dt>Brand</dt>
                <dd th:text="${catalogItem.catalogBrand?.brand}"></dd>

                <dt>Type</dt>
                <dd th:text="${catalogItem.catalogType?.type}"></dd>

                <dt>Price</dt>
                <dd th:text="${catalogItem.price}"></dd>

                <dt>Picture File Name</dt>
                <dd th:text="${catalogItem.pictureFileName}"></dd>

                <dt>Available Stock</dt>
                <dd th:text="${catalogItem.availableStock}"></dd>

                <dt>Restock Threshold</dt>
                <dd th:text="${catalogItem.restockThreshold}"></dd>

                <dt>Max Stock Threshold</dt>
                <dd th:text="${catalogItem.maxStockThreshold}"></dd>

                <dt></dt>
                <dd class="text-right esh-button-actions">
                    <form th:action="@{/catalog/delete/{id}(id=${catalogItem.id})}" method="post">
                        <a th:href="@{/catalog}" class="btn esh-button esh-button-secondary">[ Cancel ]</a>
                        <button type="submit" class="btn esh-button esh-button-primary">[ Delete ]</button>
                    </form>
                </dd>
            </dl>
        </div>
    </div>
</div>
</body>
</html>
