<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edit</title>
</head>
<body>
<div layout:fragment="content">
    <h2 class="esh-body-title">Edit</h2>

    <form th:action="@{/catalog/edit/{id}(id=${catalogItem.id})}" th:object="${catalogItem}" method="post">
        <div class="container">
            <div class="row">
                <img class="col-md-6 esh-picture" th:src="@{/items/{id}/pic(id=${catalogItem.id})}" />
                <div class="col-md-6 form-horizontal">
                    <div th:if="${#fields.hasErrors('*')}" class="text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                        </ul>
                    </div>
                    <input type="hidden" th:field="*{id}" />

                    <div class="form-group">
                        <label class="control-label col-md-4">Name</label>
                        <div class="col-md-8">
                            <input type="text" th:field="*{name}" class="form-control" />
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Description</label>
                        <div class="col-md-8">
                            <input type="text" th:field="*{description}" class="form-control" />
                            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Brand</label>
                        <div class="col-md-8">
                            <select th:field="*{catalogBrandId}" class="form-control">
                                <option th:each="b : ${brands}" th:value="${b.id}" th:text="${b.brand}"></option>
                            </select>
                            <span th:if="${#fields.hasErrors('catalogBrandId')}" th:errors="*{catalogBrandId}" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Type</label>
                        <div class="col-md-8">
                            <select th:field="*{catalogTypeId}" class="form-control">
                                <option th:each="t : ${types}" th:value="${t.id}" th:text="${t.type}"></option>
                            </select>
                            <span th:if="${#fields.hasErrors('catalogTypeId')}" th:errors="*{catalogTypeId}" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Price</label>
                        <div class="col-md-8">
                            <input type="number" step="0.01" th:field="*{price}" class="form-control" />
                            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Picture File Name</label>
                        <div class="col-md-8">
                            <input type="text" th:field="*{pictureFileName}" class="form-control" readonly="readonly" title="Not allowed for edition" />
                            <span th:if="${#fields.hasErrors('pictureFileName')}" th:errors="*{pictureFileName}" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Available Stock</label>
                        <div class="col-md-8">
                            <input type="number" th:field="*{availableStock}" class="form-control" />
                            <span th:if="${#fields.hasErrors('availableStock')}" th:errors="*{availableStock}" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Restock Threshold</label>
                        <div class="col-md-8">
                            <input type="number" th:field="*{restockThreshold}" class="form-control" />
                            <span th:if="${#fields.hasErrors('restockThreshold')}" th:errors="*{restockThreshold}" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Max Stock Threshold</label>
                        <div class="col-md-8">
                            <input type="number" th:field="*{maxStockThreshold}" class="form-control" />
                            <span th:if="${#fields.hasErrors('maxStockThreshold')}" th:errors="*{maxStockThreshold}" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 text-right esh-button-actions">
                            <a th:href="@{/catalog}" class="btn esh-button esh-button-secondary">[ Cancel ]</a>
                            <button type="submit" class="btn esh-button esh-button-primary">[ Save ]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div layout:fragment="scripts">
    <script th:src="@{/js/jquery.validate.min.js}"></script>
    <script th:src="@{/js/jquery.validate.unobtrusive.min.js}"></script>
</div>
</body>
</html>
