<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content">
    <div class="esh-table">
        <p class="esh-link-wrapper">
            <a th:href="@{/catalog/create}" class="btn esh-button esh-button-primary">Create New</a>
        </p>

        <table th:replace="~{catalog/fragments/catalogTable :: catalogTable(${paginatedItems.data})}"></table>

        <div class="esh-pager">
            <div class="container">
                <article class="esh-pager-wrapper row">
                    <nav>
                        <a th:href="@{/(pageSize=${paginatedItems.itemsPerPage},pageIndex=${paginatedItems.actualPage - 1})}"
                           th:classappend="${paginatedItems.actualPage == 0} ? 'esh-pager-item--hidden'"
                           class="esh-pager-item esh-pager-item--navigable">Previous</a>

                        <span class="esh-pager-item">
                            Showing <span th:text="${paginatedItems.itemsPerPage}"></span> of <span th:text="${paginatedItems.totalItems}"></span> products - Page <span th:text="${paginatedItems.actualPage + 1}"></span> - <span th:text="${paginatedItems.totalPages}"></span>
                        </span>

                        <a th:href="@{/(pageSize=${paginatedItems.itemsPerPage},pageIndex=${paginatedItems.actualPage + 1})}"
                           th:classappend="${paginatedItems.actualPage >= paginatedItems.totalPages - 1} ? 'esh-pager-item--hidden'"
                           class="esh-pager-item esh-pager-item--navigable">Next</a>
                    </nav>
                </article>
            </div>
        </div>
    </div>
</div>
</body>
</html>
